.about-wrapper {
  display: flex;
  padding: 50px;
}

.about-left {
  flex: 1 1 auto;
}

.about-right {
  flex: 1 1 auto;
  padding-left: 50px;
}

@media only screen and (max-width: 900px) {
  .about-wrapper {
    flex-direction: column-reverse;
    padding: 0px;
    align-items: center;
  }
  .about-right {
    padding-left: 0px;
    align-items: center;
    & img {
      width: 100%;
    }
  }
  .about-left {
    padding: 20px;
    max-width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-left {
    max-width: 600px;
  }
}
