.contact-container {
  padding: 20px;
}
.contact-locations {
  display: flex;
  padding: 5px 0px;
  
}
.suppliers-jobs-wrapper {
  padding-bottom: 20px;
}
.contact-location-cards {
  color: $navy;
}
.contact-locations-image img {
  width: 217px;
  height: 227px;
}
