.footer {
  background: $navy;
  color: $white;
  font-size: $body;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
}

.location-cards {
  display: flex;
  flex: 1 1 70%;
  color: $white !important;
}

.email-list {
  flex: 1 1 30%;
  align-content: flex-end;
    & p {
    width: 100%;
    max-width: 300px;
  }
}

.email-input {
  display: flex;
  width: 240px;
}

input {
  padding: 12px 10px;
  color: $navy;
  border: none;
  border-radius: 2px;
    &:first-child {
    margin-right: 1px;
    width: 80px;
  }
    &:last-child {
      width: 160px;
    }
    &:focus {
      outline: none !important;
      border: 1px solid $grey;
  }
}

.copyright {
  padding: 20px 0px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  // align-items: flex-start;
  // justify-content: space-between !important;
  max-width: 1000px;
}

@media only screen and (max-width: 900px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .email-list {
    width: calc(100%);
    padding: 0 10px;
    align-items: center;
    display: flex;
  }
  .location-cards {
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
 
  }
  .footer {
    padding: 10px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    & span:first-child {
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .email-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
