.footer-container {
  background: $navy;
  color: $white;
  font-size: $body;
  width: 100%;
  padding: 20px;
}

.copyright-designed-by {
  text-align: right;
}

.footer-copyright {
  padding: 40px 0px;
}

.footer-email-locations-wrapper {
  padding-top: 20px;
}

@media (max-width: 765px) {
  .copyright-designed-by {
  text-align: left;
  }
}


