.footer-container {
  background: $navy;
  color: $white;
  font-size: $body;
  width: 100%;
  padding: 20px;
}

.copyright-designed-by {
  text-align: right;
}

.footer-copyright {
  padding: 40px 0px;
  color: $grey;
}

.footer-email-locations-wrapper {
  padding-top: 20px;
}

.footer-locations {
  display: flex;
}

@media (max-width: 768px) {
  .copyright-designed-by {
  text-align: left;
  }
  .footer-locations {
    flex-direction: column;
    > * {
    padding: 20px 0px;
    }
  }
}



