.header-wrapper {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 122px;
  background: $white;
}
.left-navigation {
  display: flex;
  padding-left: 20px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: $body-uppercase;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: $navy;
  padding: 8px;
}

.link:hover {
  color: $grey;
}
.right-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    padding-right: 20px;
  }
}
.header-icons img, input {
  height: 25px;
  width: 25px; 
  display: inline-block;
}

  .header-hamburger-menu {
    display: none;
  }  
@media only screen and (max-width: 900px) {
  .header-hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .left-navigation .link-text {
    display: none;
  }
  .logo img {
    width: 200px;
  }
}
