.landing-bkg {
  background: linear-gradient(-225deg, rgba(1, 1, 1, 0.4) 40%, rgba(1, 1, 1, 0.4) 40%), url(https://res.cloudinary.com/davoctnex/image/upload/v1556608251/Organic%20Wholefoods%20Sample%20Images/Shop-front-imagery.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  color: $white;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-right: 0px;
}
.landing-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 0px;
}

.browse-button {
  padding: 20px;
  font-size: $body;
  background: white;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 10px;
  width: 200px;
  height: 66px;
}

.landing-instagram {
  background: $grey;
  padding: 50px;
}

@media only screen and (max-width: 562px) {
  .body-text {
    // width: 95vw;
  }
}


