.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-bkg {
  background-size: cover;
  background: linear-gradient(-225deg, rgba(1, 1, 1, 0.4) 40%, rgba(1, 1, 1, 0.4) 40%), url(https://res.cloudinary.com/davoctnex/image/upload/v1556608251/Organic%20Wholefoods%20Sample%20Images/Shop-front-imagery.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 166px);
  width: 100vw;
  display: flex;
    align-items: center;
    justify-content: center;
  & .landing-copy {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: $white;
    & .body-text {
      line-height: 29px;
      text-align: justify;
      max-width: 600px;
      overflow: hidden;
    }
  }
}


.browse-button {
  padding: 20px;
  font-size: $body;
  background: white;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 10px;
  width: 342px;
  height: 66px;
}

.landing-locations {
  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
    margin: 0 auto;
}

.landing-locations-wrapper > * {
  padding: 20px;
  border: 1px solid $navy;
  // flex-shrink: 2;
  // flex-grow: 2;
  // flex-basis: 33%;
  // width: 383px;
  // height: 401px;
}
.landing-locations-wrapper {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;

}

@media only screen and (max-width: 500px) {
  .landing-locations {
    padding: 0px 0px !important;

  }

  .landing-locations-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    & .location-wrapper {
      width: 95vw;
    }
  }
  .landing-bkg {
    height: 100vh;
    & .body-text {
      width: 95vw;
      font-size: 12px;
    }
  }
}


