.location-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 170;
  color: $navy;
  padding-right: 10px;
  font-size: $body;
}
.location-details {
  margin-top: 0px;
}
.day-times {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.phone-number {
  padding: 10px 0px;
}

