.product {
  display: grid;
  grid-template-columns: repeat( auto-fill, 227px );
  grid-gap: 8px;
}
.product-display-image img {
  height: 227px;
  width: 217px;
}
.search-results-copy {
  padding-bottom: 4px !important;
  border-bottom: 1px solid $navy;
  max-width: 95%;
}
.product-gird-wrapper {
  padding: 0px;
}


@media(max-width: 375px) {
  .product {
    display: grid;
    grid-template-columns: repeat( auto-fill, 46% );
    grid-gap: 8px;
  }
  .product-display-image img {
  height: 100%;
  width: 100%;
  }
}



