.single-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.single-leftside {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.single-rightside {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.add-to-cart-wrapper {
  display: flex;
  border: 1px $navy solid;
  justify-content: space-between;
  width: 400px;
  flex-shrink: 1;
  & button {
    width: 80%;
    background: $navy;
    color: $white;
    border: none;
    padding: 10px 0px;
  }
  & .single-quantity {
    height: 100%;
    width: 20%;
    color: $white;
    & input {
      width: calc(100% - 1px);
      border-radius: 0px;
      text-align: center;
      padding: 10px 0px;
      border: none;
      }
      & input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
    }
  }
}


.single-variant-selectors {
  border: 1px $navy solid;
  width: 400px;
  flex-shrink: 1;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  cursor: hand;
}

.variant-selector {
  outline: none;
  border: none;
  background-color: #fff;
  height: 100%;
  &:focus {
    outline: $navy;
  } 
}

@media only screen and (max-width: 600px) {
  .single-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 12px;
  }
  .single-leftside {
    width: 100%;
  }
  .single-rightside {
    width: 100%;
  }
  .add-to-cart-wrapper, .single-variant-selectors  {
    max-width: 90%;
  }
}



