// Color Variables
$navy: #181825;
$red: #A40016;
$grey: #D0D0D0;
$white: #F9F9F9;

// Font Variables
$body: 15px;
$sub-header: 20px;
$header: 25px;

@import '_footer.scss';
@import '_header.scss';
@import '_location.scss';
@import '_cart.scss';
@import '_landing.scss';
@import '_products.scss';
@import '_product.scss';


body {
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
}
